{% macro military_time_input(name, value="", required=False) %}
<input class="military-time-input" type="text" name="{{ name }}" value="{{ value }}" inputmode="numeric" placeholder="HH:MM" maxlength="5" pattern="([01][0-9]|2[0-3]):[0-5][0-9]" autocomplete="off" {% if required %}required{% endif %}>
{% endmacro %}

{% macro military_datetime_input(name, value="") %}
<input class="military-datetime-input" type="text" name="{{ name }}" value="{{ value }}" inputmode="numeric" placeholder="YYYY-MM-DD HH:MM" maxlength="16" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} ([01][0-9]|2[0-3]):[0-5][0-9]" autocomplete="off">
{% endmacro %}
